@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

body {
  background: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  --black: #141414;
  --active: #0083E1;
  --accent: #8c9AAe;
  --scrollBar: #DDE1EC;
  --white: #FFFFFF;
  --line: #F1F3F9;
}

*{
  box-sizing: border-box;
  margin: 0;
}

